.ul{
    list-style: none;
    margin: 0;
}
.item{
    list-style: none;
    margin-bottom: 10px;
}

.button{
    background-color: #9590af;
    border: none;
    color: white;
    padding: 6px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;

}

.button:hover{
    background-color: #a17eaf;
}
